<div th:replace="user/user_header :: header"></div>

<div class="container text-center">

	<h2 class="mt-3 d-inline">
		Welcome <b th:text="${currentUser.name}"></b>!!
	</h2>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						
	<p class = "d-inline">Credits: <session th:text="${currentUser.credit}"></session></p>
	
	<div class = "row">
		<table border="1" class="table col-8 offset-2 mt-3" >
			<tbody>
				<tr th:each="joke : ${listJokes}">
					<td >
						<p th:text="${joke.topic}"></p>
						<p th:text="${joke.jokecontent}"></p>
						<p class = "d-inline">Scores: <session th:text="${joke.scores}"></session></p>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						
						<a th:href="@{'/user/giveALike/' + ${joke.jokeid}}">
							<i class="fa-solid fa-heart" style="color:red">&nbsp;&nbsp;like </i>
						</a>

					</td>
				</tr>

			</tbody>
		</table>
	
	</div>
	


</div>

<footer class="container text-center text-white px-0 " style="background-color:#f5902c;">
<div th:replace="footer :: footer"></div>