<div th:fragment="header">

	
		<header>
		<nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<a class = "navbar-brand" ><img th:width="40px" th:height="50px" src="images/logo.png" /></a>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				
					<li class="nav-item active "><a class="nav-link text-warning" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link text-warning" href="/admin/login" >Admin login</a></li>
					<li class="nav-item"><a class="nav-link text-warning" href="/user/login">User login</a></li>
					<li class="nav-item"><a class="nav-link text-warning" href="/register">User Register</a></li>
				</ul>
			</div>
		</nav>
		<div class  = "container text-center py-2" style="background-color:#F88C00;">
			<h1>Joke Bar</h1>
		</div>
	</header>
	
</div>
